.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #D6E5FA;
}

.navbar-nav li a:hover {
    color: #D77FA1 !important;
}

#logo {
    color: #D77FA1;
}

.footer-padding {
    padding-bottom: 60px;
}

.p {
    white-space: pre-line;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FFF9F9;
}

.footer p {
    margin-top: 25px;
    font-size: 15px;
    color: #000000;
}

.textarea .p {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}